* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f5f5f5;
    color: #222;
}


.navbar {
    background: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.navbar ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

.navbar a {
    color: #222;
    text-decoration: none;
    font-weight: bold;
}

.logo {
    font-weight: bold;
    font-size: 18px;
}


.isma {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 40px;
    background: white;
}

.isma-text {
    width: 550px;
}

.isma h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.isma p {
    margin-bottom: 20px;
}

.isma-botones {
    display: flex;
    gap: 15px;
}

.btn {
    padding: 10px 20px;
    border-radius: 6px;
    background: white;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #222;
    font-weight: bold;
}

.btn.primary {
    background: #42b953;
    border: none;
    color: white;
}



.about {
    background: #46b25c;
    padding: 60px 40px;
    color: white;
}

.about-container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.skills span {
    background: rgba(255, 255, 255, 0.3);
    padding: 5px 10px;
    margin: 5px;
    border-radius: 12px;
    display: inline-block;
}


.projects {
    background: #38a04f;
    padding: 60px 40px;
    color: white;
    flex: auto;
}
.project-list {
    display: flex;
    justify-content: space-between; 
    gap: 25px;
    margin-top: 20px;
}



.project-card {
    background: white;
    width: 300px;
    
    color: #222;
    padding: 15px;
    border-radius: 10px;
}

.project-card img {
    width: 100%;
    border-radius: 10px;
    height: 200px;
}

.tags span {
    background: #e8f5e9;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 10px;
    font-size: 12px;
}

.links a {
    margin-right: 10px;
    color: #2d7d46;
    font-weight: bold;
    text-decoration: none;
}


.contact {
    background: #2e8c3d;
    padding: 60px 40px;
    color: white;
    text-align: center;

}

.contact-form {
    max-width: 400px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
    
}


.contact-form textarea {
    padding: 12px;
    border: none;
    width: 100%;
}

.social a {
    margin: 10px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}


footer {
    text-align: center;
    padding: 20px;
    background: #1e1e1e;
    color: white;
    font-size: 14px;
}


